.category{
    background-color: #F6F6F6;
    padding-top: 50px;
}
.category-h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    display: inline-block;
}
.category-link{
    text-decoration: none;
    color: black;
    &:hover{
        color: #09CC66;
    }
}
.category-link2{
    padding: 17px 72px;
    background-color: #09CC66;
    color: white;
    box-shadow: 0px 7px 15px rgba(9, 204, 102, 0.33);
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 80px;
    border: 1px solid #09CC66;
    &:hover{
        color: #09CC66;
        border: 1px solid #09CC66;
        background-color: #fff;
        border-radius: 4px;
        }
}
.c2-content{
    padding: 80px 0;
    background-color: #fff;
}
.c3-content{
    background-color: #f6f6f6;
    padding: 135px 0;
    .c3-content-btn{
        padding: 27px 66px;
        color: #fff;
        border: none;
        box-shadow: 0px 7px 15px rgba(9, 204, 102, 0.33);
        border-radius: 4px;
        background-color: #09CC66;
        border: 1px solid #09CC66;
        &:hover{
            background-color: #fff;
            color: #09CC66;
            border: 1px solid #09CC66;
            border-radius: 4px;
        }
    }
    .c3-content-btn2{
        padding: 27px 66px;
        color: #fff;
        border: none;
        box-shadow: 0px 7px 15px rgba(9, 204, 102, 0.33);
        border-radius: 4px;
        background-color: #F5DF0A;
        border: 1px solid #F5DF0A;
        &:hover{
            background-color: #fff;
            color: #F5DF0A;
            border: 1px solid #F5DF0A;
            border-radius: 4px;
        }
    }

}
.card-cart-btn{
    border: '1px solid #09CC66';
    width:'50px';
    height:'50px';
    border-radius: 50px;
    background-color: #09CC66;
    &:hover{
        color: #09CC66;
        background-color: #fff;
    }
}