.logo{
    width: 40px;
    height: 42px;
}
.icons{
    width: 40px;
    height: 40px;
    background-color: #F6F6F6;
    color: black;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 0px 14px;
    position: relative;
}
.like-count{
    text-decoration: none;
    position: absolute;
    font-size: 14px;
    top: 2px;
    right: 2px;
    background-color: red;
    color: white;
    padding: 0px 2px;
    border-radius: 10px;
    line-height: 120%;
}
.cart-count{
    text-decoration: none;
    position: absolute;
    font-size: 14px;
    top: 2px;
    right: 2px;
    background-color: #09CC66;
    color: white;
    padding: 0px 2px;
    border-radius: 10px;
    line-height: 120%;
}
.slick-prev{

    &::before{
        content: '';
    }
}




//footer
.footer{
    padding: 50px 0;
}
.f-text{
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    color: #1C1C33;
    margin-bottom: 18px;
}
.f-link{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #1C1C33;
    opacity: 0.3;
    margin-bottom: 18px;
    text-decoration: none;
    &:hover{
        opacity: 0.9;
        color: #1C1C33;
    }
}
.f-icons{
    color: #1C1C33;
}

.f-p{
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    color: #919193;
}
.f-btn{
    display: block;
    padding: 20px 35px;
}